volumes:
  - staticfiles:
  - postgres_data:


services:
  app:
    build: ./server
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/aic_db
    depends_on:
      - postgres
    networks:
      - webnet
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - staticfiles:/app/static:ro
    depends_on:
      - app
    networks:
      - webnet
  postgres:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=aic_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
